.toggle{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    border: solid 2px #000;
    border-radius: 2rem;
    cursor: pointer;
    padding: 2px;
}
.spinner{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    transition: all 0.2s linear;
}

.active{
    background-color: red;
}
.spinner-active{
    transform: translateX(30px);
}